.timeline {
  position: relative;
  flex: none;
  align-self: stretch;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  flex-grow: 1;
  width: 2px;
  background-color: #000;
  margin: 0.5rem 0;
}

.session-item {
  margin-bottom: 10px; /* Adjust spacing between sessions */
}
